.welcome {
  $this: &;
  position: relative;
  z-index: 2;
  margin-top: -20px;
  margin-bottom: 80px;
  @include mobile() {
    margin: 48px 0;
  }

  &__items {
    display: flex;
    margin: 0 -10px;
    @include mobile() {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item {
    flex: 1;
    padding: 0 10px;
    @include mobile() {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__card {
    position: relative;
    height: 100%;
    padding: 32px;
    @include elevation-01();
    border-radius: 16px;
    background-color: $neutral300;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 360px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      --welcome-background: var(--background, transparent);
      background: linear-gradient(180deg, #FFFFFF 43.35%, rgba(255, 255, 255, 0) 100%), var(--welcome-background);
      background-size: cover;
      border-radius: 16px;
      @include mobile() {
        background: linear-gradient(90deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), var(--welcome-background);
      }
    }

    @include mobile() {
      padding: 24px;
      min-height: 0;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    @include headline-medium();
    @include mobile() {
      @include title-large();
    }
  }
}