.welcome
  .welcome__items
    .welcome__item
      .welcome__card.welcome__card--01: .welcome__text Оказываем комплексные услуги по развитию HR-систем под заказчика с целью повышения эффективности бизнеса в различных сферах
    .welcome__item
      .welcome__card.welcome__card--02: .welcome__text Имеем устойчивую репутацию  надежного стратегического партнера. Развиваем формат Digital HR аутсорсинга
    .welcome__item
      .welcome__card.welcome__card--03: .welcome__text Занимаемся автоматизацией и цифровизацией лучших мировых практик, адаптированных в России на платформе SBG

