.tabs.block
  .block__head
    .block__title Возможности платформы
  .tabs__heads
    button.tabs__head.tabs__head--active Аудит управления предприятием
    button.tabs__head Оценка мотивационных факторов eNPS
    button.tabs__head Оценка личностного потенциала
  .tabs__bodies
    .tabs__body.tabs__body--active
      .tabs__ability
        .tabs__ability-image: img(src='https://placehold.jp/900x500.png')
        .tabs__ability-text Пример отчета
    .tabs__body
      .tabs__ability
        .tabs__ability-image: img(src='https://placehold.jp/900x500.png')
        .tabs__ability-text Пример отчета
    .tabs__body
      .tabs__ability
        .tabs__ability-image: img(src='https://placehold.jp/900x500.png')
        .tabs__ability-text Пример отчета
  .block__action
    button.btn Получить демо-доступ