.tabs {
  $this: &;

  &__heads {
    display: flex;
    justify-content: center;
    margin: -24px;
    margin-bottom: 48px;
    @include mobile() {
      margin: -8px;
      margin-bottom: 32px;
      flex-direction: column;
    }

    &--left {
      justify-content: flex-start;
      flex-direction: row;
      align-items: flex-end;

      @include mobile() {
        #{$this}__head {
          text-align: center;
          padding: 4px;
        }

      }
    }

    &--2col {
      flex-wrap: wrap;
      //align-items: center;
      justify-content: center;

      #{$this}__head {
        width: 50%;
        max-width: 500px;
        @include mobile() {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  &__head {
    position: relative;
    text-align: center;
    @include headline-small();
    padding: 16px 24px;
    min-width: 0;
    max-width: 500px;
    display: flex;
    align-items: flex-end;
    @include mobile() {
      @include title-small();
      padding: 8px;
      width: 100%;
      text-align: left;
    }

    span {
      padding-bottom: 20px;
      display: block;
      position: relative;
      width: 100%;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        height: 4px;
        margin-top: -4px;
        border-radius: 2px;
      }

      &:before {
        width: 100%;
        background: $neutral300;
      }

      &:after {
        width: 0;
        background: $primary;
        @include anim();
      }
    }


    &--active {
      span {
        &:after {
          width: 40%;
        }
      }
    }
  }

  &__bodies {
    position: relative;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include hidden();
    transform: translateY(-20px);
    @include anim(.2s);

    &--active {
      position: relative;
      @include visible();
      transform: none;
    }
  }

  &__image {
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    &--background {
      img {
        border-radius: 16px;
        @include elevation-03();
        background: $white;
      }
    }
  }

  &__textimage {
    display: flex;
    align-items: center;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__textimage-image {
    margin-right: 48px;
    @include mobile() {
      margin: 0 0 16px 0;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      @include elevation-03();
    }
  }

  &__textimage-text {
    width: 330px;
    flex-shrink: 0;
    @include headline-medium();
    @include mobile() {
      width: 100%;
      text-align: center;
      @include title-medium();
    }
  }
}