.realize.block.block--gray
  .c
    .block__head
      .block__title Что реализуем
    .realize__container
      .realize__text При формировании стратегии консолидируются цели бизнеса и сотрудников с учетом этапа жизненного цикла организации
      .realize__aside
        .realize__slider
          .realize__slides
            .realize__slide: img(src='https://placehold.jp/900x460.png')
            .realize__slide: img(src='https://placehold.jp/900x460.png')
        .realize__nav