.cards {
  $this: &;

  &__items {
    //@include elevation-02-filter();
  }

  &__item {
    width: 33.3333%;
  }

  &__card {
    position: relative;
    height: 100%;
    @include elevation-02();
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background: $white;
    @include mobile() {
      padding: 16px;
      flex-direction: row;
      align-items: center;
    }

    &--gray {
      background: $neutral100;
    }

    &--green {
      background: $sbg;
      color: $white;
    }
  }

  &__highlight {
    height: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    background: radial-gradient(96.13% 105.4% at 0% 0%, rgba(204, 0, 45, 0) 0%, #CC002D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , linear-gradient(0deg, #FF0037, #FF0037), #FF0037;
    @include mobile() {
      height: auto;
      flex-direction: column;
      margin-top: 10px;
    }

    #{$this} {
      &__head {
        @include headline-large();
        @include mobile() {
          @include headline-medium();
        }
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    width: 100%;
  }

  &__img {
    margin-bottom: 24px;
    @include mobile() {
      margin: 0 16px 0 0;
    }

    img {
      display: block;
      max-height: 76px;
      width: auto;
      height: auto;
      @include mobile() {
        max-width: 48px;
      }
    }
  }

  &__icon {
    float: right;
    margin-top: -12px;
    margin-right: -12px;
    //margin-left: 8px;

    img {
      display: block;
    }

    @include mobile() {
      margin-top: -10px;
      margin-right: -8px;
      //margin-left: 12px;
    }

    &--bottom {
      margin-top: auto;
      margin-bottom: -12px;
      align-self: flex-end;
      @include mobile() {
        margin-bottom: -10px;
        margin-right: -8px;
        //margin-left: 12px;
      }
    }
  }

  &__head {
    width: 100%;
    @include headline-medium();
    @include mobile() {
      @include title-large();
    }
  }

  &__text {
    margin-top: 24px;
    @include mobile() {
      margin-top: 16px;
    }
  }

  &__action {
    padding-top: 32px;
    margin-top: auto;
    @include mobile() {
      padding-top: 24px;
    }
  }

  &--row2 {
    #{$this} {
      &__item {
        width: 50%;
      }
    }
  }
}