.hero {
  $this: &;
  background: $black;
  color: $white;
  padding: 80px 0;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0px 0px 16px 16px;
  @include full-width();
  @include mobile() {
    padding: 48px 0;
  }

  &--white {
    color: $black;
    background-color: $neutral300;
  }

  &--main {
    #{$this} {
      &__title {
        max-width: 820px;
        @include display-large();
        @include mobile() {
          @include headline-extra-large();
        }
      }
    }
  }

  &--sbg {
    .c {
      display: flex;
      align-items: flex-start;
      @include mobile() {
        flex-direction: column-reverse;
      }
    }

    #{$this} {
      &__title {
        max-width: 974px;
      }
    }
  }

  &--news {
    padding-top: 40px;
    @include mobile() {
      padding: 54px 0;
    }

    #{$this} {
      &__title {
        @include display-small();
        @include mobile() {
          @include headline-medium();
        }
      }
    }
  }

  &__main {
    flex: 1;
  }

  &__title {
    max-width: 763px;
    @include display-medium();
    @include mobile() {
      @include headline-large();
    }
  }

  &__category {
    @include headline-medium();
    margin-bottom: 32px;
    @include mobile() {
      margin-bottom: 24px;
    }
  }

  &__date {
    @include label-large();
    margin-bottom: 4px;
    opacity: .5;
  }

  &__subtitle {
    @include headline-medium();
    margin-top: 16px;
    @include mobile() {
      @include title-medium();
    }
  }

  &__action {
    margin-top: 48px;
    @include mobile() {
      margin-top: 32px;
    }
  }

  &__aside {
    margin-left: auto;
    padding-left: 40px;
    @include mobile() {
      padding-left: 0;
      margin: 0 0 16px 0;
    }
  }
}