.hero.hero--main
  .c
    h1.hero__title Лучшие HR-технологии для бизнеса и соискателей
    .hero__action
      button.btn Оставить заявку

.hero
  .c
    h1.hero__title Разработаем и внедрим эффективную систему управления персоналом
    .hero__action
      button.btn Оставить заявку

.hero.hero--white
  .c
    h1.hero__title Оценим ваш потенциал и предложим интересные вакансии
    .hero__action
      button.btn Получить консультацию

.hero.hero--sbg
  .c
    .hero__main
      h1.hero__title Улучшите показатели бизнеса с помощью цифровых HR-технологий
      .hero__subtitle Получите демонстрацию платформы
      .hero__action
        button.btn Оставить заявку
    .hero__aside: img(src=require('src/img/sbg_logo.svg'))

.hero.hero--news
  .c
    .hero__category Новости
    .hero__date 01.01.2023
    h1.h3.hero__title Конференция "УПРАВЛЕНИЕ ПЕРСОНАЛОМ: практические подходы и инструменты"
    .hero__action
      button.btn.btn--outline-white Подробнее
