.cta.block(style='--background: url()')
  .cta__container
    .cta__text По итогам проведения аудита рекомендуем перейти на этап разработки
    .cta__actions
      a.link.link--white(href='#')
        span РЕКРУТИНГ
        +the_svg('arrow')
      a.link.link--white(href='#')
        span ОЦЕНКА ЭФФЕКТИВНОСТИ И ПОТЕНЦИАЛА
        +the_svg('arrow')
