.cta {
  $this: &;

  &__container {
    display: flex;
    align-self: center;
    color: $white;
    border-radius: 16px;
    padding: 48px;
    background: url(./img/bc.png), radial-gradient(96.13% 105.4% at 0% 0%, rgba(204, 0, 45, 0) 0%, #CC002D 100%), #FF0037;
    background-size: cover;
    background-position: 50% 50%;
    @include mobile() {
      flex-direction: column;
      padding: 32px;
    }
  }

  &__text {
    margin-right: auto;
    padding-right: 48px;
    @include headline-medium();
    max-width: 600px;
    @include mobile() {
      @include headline-small();
      padding: 0;

    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    @include mobile() {
      margin-top: 24px;
      align-items: flex-start;
      text-align: left;
    }

    > * {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}