.head
  .c
    .head__breadcrumbs: include ../breadcrumbs/breadcrumbs
    .head__head
      h1.head__title Вакансии
      .head__aside
        | Сортировать по:
        select.select.select--outline()
          option соответствию
          option увеличению дохода
          option уменьшению дохода

    .head__filter
      div.input(style='--background: #F8F8FA')
        select.select.select--sm
          option
          option Полная
          option Частичная
          option Удаленная
          option Гибритный формат
        label Тип занятости
      div.input
        select.select.select--sm
          option
          option от 20 000 руб.
          option от 40 000 руб.
          option от 80 000 руб.
          option от 120 000 руб.
        label Уровень дохода
      div.input
        select.select.select--sm
          option
          option Нет опыта
          option От 1 года до 3 лет
          option От 3 до 6 лет
          option Более 6 лет
        label Опыт работы
