.head {
  $this: &;

  background: $neutral100;
  @include full-width();
  padding-top: 40px;

  &__breadcrumbs {
    margin-bottom: 32px;
    @include mobile() {
      margin-bottom: 16px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin-right: auto;
    @include display-medium();
  }

  &__aside {
    display: flex;
    align-items: center;
    @include label-large();
    color: $secondary700;
    @include mobile() {
      margin-top: 16px;
    }
  }

  &__filter {
    margin-top: 32px;
    display: flex;
    @include mobile() {
      margin: 16px -16px 0 -16px;
      padding: 0 16px;
      @include overflow();
    }

    > * {
      margin-left: 8px;
      flex-shrink: 0;
      min-width: 220px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

