.head.head--main
  .c
    h1.head__title Лучшие HR-технологии для бизнеса и соискателей
    .head__action
      button.btn Оставить заявку

.head
  .c
    h1.head__title Разработаем и внедрим эффективную систему управления персоналом
    .head__action
      button.btn Оставить заявку

.head.head--white
  .c
    h1.head__title Оценим ваш потенциал и предложим интересные вакансии
    .head__action
      button.btn Получить консультацию

.head.head--sbg
  .c
    .head__main
      h1.head__title Улучшите показатели бизнеса с помощью цифровых HR-технологий
      .head__subtitle Получите демонстрацию платформы
      .head__action
        button.btn Оставить заявку
    .head__aside: img(src=require('src/img/sbg.svg'))

.head.head--news
  .c
    .head__category Новости
    .head__date 01.01.2023
    h1.h3.head__title Конференция "УПРАВЛЕНИЕ ПЕРСОНАЛОМ: практические подходы и инструменты"
    .head__action
      button.btn.btn--outline-white Подробнее
