.steps.block
  .block__head
    .block__title Этапы работы

  .block__items
    .block__item.steps__item
      .steps__card
        .steps__top
          .steps__count 01.
          +the_svg('arrow')
        .steps__text Оставить заявку
    .block__item.steps__item
      .steps__card
        .steps__top
          .steps__count 02.
          +the_svg('arrow')
        .steps__text Пройти опрос
    .block__item.steps__item
      .steps__card
        .steps__top
          .steps__count 03.
          +the_svg('arrow')
        .steps__text Обсуждение
    .block__item.steps__item
      .steps__card
        .steps__top
          .steps__count 04.
        .steps__text Предложение


