.sbg.block
  .block__head
    .block__title Формирование HR-системы на SBG
  .sbg__container
    .sbg__text
      div Процессы HR-системы реализованы на цифровой платформе SBG. Узнайте подробнее в разделе
      a.link
        span Организациям
        +the_svg('arrow')
    .sbg__img
      .sbg__links
        a(href='#').sbg__link: span Корпоративная культура#[br]HR-бренд
        a(href='#').sbg__link: span Управление талантами
        a(href='#').sbg__link: span Оценка эффективности#[br]и потенциала
        a(href='#').sbg__link: span Управление мотивацией#[br]и эффективностью
        a(href='#').sbg__link: span Обучение и развитие

        a(href='#').sbg__link: span Аудит HR-процессов
        a(href='#').sbg__link: span Формирование#[br]HR-cтратегии
        a(href='#').sbg__link: span Организационный#[br]менеджмент
        a(href='#').sbg__link: span Подбор
        a(href='#').sbg__link: span Адаптация
      img(src=require('src/img/sbg.svg'))