.sbg {
  $this: &;

  &__container {
    display: flex;
    align-items: center;
    @include mobile() {
      flex-direction: column-reverse;
    }
  }

  &__text {
    flex-shrink: 0;
    margin-right: auto;
    width: 336px;
    @include headline-medium();
    @include mobile() {
      width: auto;
      margin-top: 48px;
      @include title-large();
    }
  }

  &__img {
    position: relative;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__links {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
  }

  &__link {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(255, 253, 253, 0.5), rgba(255, 253, 253, 0.5)), #9292A6;
    @include anim();

    span {
      white-space: nowrap;
      position: absolute;
      opacity: .5;
      @include anim();
    }

    &:hover {
      background: #9292A6;

      span {
        opacity: 1;
      }
    }

    &:nth-child(1) {
      left: 334px;
      top: 167px;

      span {
        right: 59px;
        top: -33px;
        text-align: right;
      }
    }

    &:nth-child(2) {
      left: 283px;
      top: 237px;

      span {
        right: 67px;
        top: -5px;
        text-align: right;
      }
    }

    &:nth-child(3) {
      left: 267px;
      top: 310px;

      span {
        right: 63px;
        top: -14px;
        text-align: right;
      }
    }

    &:nth-child(4) {
      left: 281px;
      top: 378px;

      span {
        right: 66px;
        top: -4px;
        text-align: right;
      }
    }

    &:nth-child(5) {
      left: 326px;
      top: 447px;

      span {
        right: 62px;
        top: 15px;
        text-align: right;
      }
    }

    &:nth-child(6) {
      left: 579px;
      top: 167px;

      span {
        left: 64px;
        top: -9px;
      }
    }

    &:nth-child(7) {
      left: 630px;
      top: 237px;

      span {
        left: 66px;
        top: -18px;
      }
    }

    &:nth-child(8) {
      left: 646px;
      top: 310px;

      span {
        left: 66px;
        top: -10px;
      }
    }

    &:nth-child(9) {
      left: 632px;
      top: 378px;

      span {
        left: 67px;
        top: 10px;
      }
    }

    &:nth-child(10) {
      left: 587px;
      top: 447px;

      span {
        left: 62px;
        top: 18px;
      }
    }
  }
}