extends ../pug/_layout

block body
  include ../modules/header/header
  .c
    include ../modules/head/head
    include ../modules/welcome/welcome
    include ../modules/ceo/ceo
    include ../modules/directions/directions
    include ../modules/map/map
    include ../modules/clients/clients
    include ../modules/partners/partners
    include ../modules/banner/banner
  include ../modules/footer/footer
