extends ../pug/_layout

block body
  include ../modules/header/header
  .c
    include ../modules/hero/hero
    include ../modules/welcome/welcome
    include ../modules/ceo/ceo
    include ../modules/directions/directions
    include ../modules/map/map
    include ../modules/clients/clients
    include ../modules/partners/partners
    include ../modules/banner/banner
    include ../modules/cards/cards
    include ../modules/services/services
    include ../modules/steps/steps
    include ../modules/faq/faq
    include ../modules/banner/banner2
    include ../modules/vacancies/vacancies
    include ../modules/head/head
    include ../modules/vacancy/vacancy
    include ../modules/newsList/newsList
    include ../modules/news/news
    include ../modules/clientsList/clientsList
    include ../modules/regalia/regalia
    include ../modules/sbg/sbg
    include ../modules/tabs/tabsAbilities
    include ../modules/audit360/audit360
    include ../modules/tabs/tabsAudit
    include ../modules/cta/cta
    include ../modules/realize/realize
    include ../modules/banner/bannerSmall
    include ../modules/banner/bannerItems
    include ../modules/img/img
    include ../modules/methods/methods
  include ../modules/footer/footer
