.faq.block
  .block__head
    .block__title Часто задаваемые вопросы
  .faq__items
    each i in ['Как быстро найдутся сотрудники?', 'Решит ли консультация мои проблемы?', 'Как быстро можно наладить качество работы в коллективе?', 'Поможете ли с текучкой кадров?']
      .faq__item
        button.faq__head=i
        .faq__body
          .faq__content
            p Данный текст размещен как пример выпадающего ответа на популярный вопрос. Вы можете делегировать задачу отбора резюме и проведения телефонного интервью менеджеру по подбору персонала. Но сначала я рекомендую пройтись по этому процессу самому, отсмотреть с десяток резюме, провести с десяток телефонных интервью, понять все особенности процесса. Это будет гораздо эффективней. Как бы странно это ни звучало, но спешка в данной задаче сослужит вам злую службу.

  .block__action
    button.btn.btn--outline Задать свой вопрос
