.directions
  .directions__items
    .directions__item
      .directions__card
        .directions__decor: +the_svg('logo')
        .directions__text Организациям
        .directions__action: a.btn.btn--outline-white Узнать больше
    .directions__item
      .directions__card
        .directions__decor: +the_svg('logo')
        .directions__text Соискателям
        .directions__action: a.btn.btn--outline-white Узнать больше
    .directions__item
      .directions__card
        .directions__decor: +the_svg('logo')
        .directions__text Цифровая платформа SBG
        .directions__action: a.btn.btn--outline-white Узнать больше
