.regalia.block.block--gray(style='--background: url(' + require('src/img/pattern_01.png') +')')
  .c
    .regalia__container
      .regalia__title.block__title Признание
      .regalia__content.content
        p #Лауреат HR-руководитель Хрустальная пирамида 2021 Саммит HR-директоров
        p #Лауреат Лидер года Международная премия Team Awards 2021
        p #Победитель премии HR-бренд 2021 hh.ru
        p #Лауреат Команда года в промышленности Международная премия Team Awards 2021
        p #Гран-при Лучшая корпоративная система Wellbeing Хрустальная пирамида 2021
        p #Победитель Лучший работодатель 2021 Всероссийский конкурс специализированных студенческих отрядов ВУЗ