.file {
  $this: &;

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px 0;

  input {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 200%;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    #{$this}__name {
      text-decoration: none;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    //color: $green-dark;
    margin-right: 8px;
    flex-shrink: 0;
  }

  &__name {
    word-break: break-word;
    @include label-large();
  }

  &__note {
    @include label-small();
    color: $neutral500;
    margin-left: auto;
    padding-left: 8px;
    flex-shrink: 0;
  }
}
