.wpcf7-not-valid-tip,
.screen-reader-response {
  display: none;
}

.wpcf7-form {
  position: relative;
}

.wpcf7-response-output {
  display: none;
}


.submitting {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    z-index: 1;
  }
}

.invalid, .unaccepted, .failed {
  .wpcf7-not-valid-tip {
    display: block;
    font-size: 12px;
    padding-left: 24px;
    margin-top: 2px;
    color: $primary;
  }

  .wpcf7-response-output {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: $primary;
  }
}

.wpcf7-content {
  @include anim();

  .sent & {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
  }
}

.wpcf7-success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //color: $blue;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
  transform: translateY(20px);

  @include anim();

  &:before {
    content: '';
    display: block;
    margin-bottom: 25px;
  }

  .sent & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 1;
    transform: none;
  }
}
