.vacancy {
  $this: &;

  @include full-width();
  background: $neutral100;
  padding: 40px 0 80px;

  &__breadcrumbs {
    margin-bottom: 32px;
  }

  &__row {
    display: flex;
    margin-bottom: 20px;
    @include mobile() {
      flex-direction: column;
      margin: 0 -16px 10px -16px;
    }
  }

  &__main {
    width: 67%;
    //flex: 1;
    background: $white;
    border-radius: 16px;
    @include elevation-01();
    padding: 32px;
    display: flex;
    flex-direction: column;
    @include mobile() {
      padding: 24px;
      width: 100%
    }
  }

  &__aside {
    flex: 1;
    //width: 33%;
    flex-shrink: 0;
    margin-left: 20px;
    background: $white;
    @include elevation-01();
    border-radius: 16px;
    padding: 32px;
    @include mobile() {
      padding: 24px;
      margin: 10px 0 0 0;
    }
  }

  &__company {
  }

  &__company-img {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 12px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__company-label {
    @include headline-small();
    margin-bottom: 12px;
  }

  &__company-name {
    @include title-large();
  }

  &__title {
    @include display-small();
    @include mobile() {
      @include headline-medium();
    }
  }

  &__salary {
    @include headline-medium();
    margin-top: 12px;
    @include mobile() {
      @include title-medium();
    }
  }

  &__info {
    @include title-large();
    margin-top: 32px;
    @include mobile() {
      margin-top: 24px;
      @include title-medium();
    }
  }

  &__actions {
    margin-top: auto;
    padding-top: 32px;
    display: flex;

    > * {
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
      }
    }

    @include mobile() {
      margin-top: 24px;
      flex-direction: column;
      > * {
        margin: 10px 0 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  &__heads {
    margin-bottom: 56px;

    .chip span {
      @include mobile() {
        display: none;
      }
    }

    @include mobile() {
      margin-bottom: 48px;
    }
  }

  &__bodies {
    position: relative;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include hidden();
    @include anim(.2s);
    transform: translateY(-10px);

    &--active {
      position: relative;
      @include visible();
      transform: none;
    }
  }

  &__name {
    @include headline-medium();
    margin-bottom: 24px;
    @include mobile() {
      @include headline-small();
    }
  }

  &__text {
    @include body-large();
    @include mobile() {
      @include body-medium();
    }
  }

  &__action {
    margin-top: 40px;
    @include mobile() {
      margin-top: 18px;
      text-align: center;
    }
  }
}