.vacancy
  .c
    .vacancy__breadcrumbs: include ../breadcrumbs/breadcrumbs
    .vacancy__row
      .vacancy__main
        h1.vacancy__title Заведующий производством
        .vacancy__salary от 60 000 руб.
        .vacancy__info
          | Требуемый опыт работы: 1–3 года#[br]
          | Полная занятость, удаленная работа
        .vacancy__actions
          button.btn Оставить заявку
          button.btn.btn--outline Создать резюме
      .vacancy__aside
        .vacancy__company-img: img(src='https://placehold.jp/376x192.png')
        .vacancy__company-label О компании
        .vacancy__company-name Химическая и нефтехимическая продукция

    .vacancy__row
      .vacancy__main
        .vacancy__tabs
          .vacancy__heads.chips
            button.chip.chip--active Обязанности
            button.chip Условия #[span работы]
            button.chip Требования #[span к кандидату]
          .vacancy__bodies
            .vacancy__body.vacancy__body--active
              .vacancy__name Обязанности
              .vacancy__text
                p Организация и контроль производства:
                ul
                  li анализ существующих производственных процессов
                  li планирование и эффективное распределение работы в производстве
                  li контроль за соблюдением технологических процессов
                  li ведение отчетности
                  li руководство производственным персоналом
                  li контроль качества выпускаемой продукции
                  li разработка и внедрение новых видов продукции
            .vacancy__body
              .vacancy__name Условия работы
              .vacancy__text
                p Работа в автомобильном представительстве
                p Оформление в соответствии с ТК РФ
                p Оклад от 60000 р. на руки (обсуждается с успешным кандидатом)
                p Корпоративная мобильная связь
                p Полис ДМС после испытательного срока (3мес.)
                p Работа в офисе
                p График 5/2 с 8-30 до 17-30
            .vacancy__body
              .vacancy__name Требования к кандидату
              .vacancy__text
                p Высшее профильное (технология производства и переработки с/х продукции, переработка продукции животноводства и тп)
                p Опыт работы в аналогичной должности (заведующий производством, главный технолог, начальник производства и тп) не менее 5 лет
                p Обязательно наличие рекомендаций с прежних мест работы
                p Обязательное знание программы 1С, Меркурий, Честный знак
    .vacancy__action
      button.btn.btn--outline Отправить на почту