.notFound
  .notFound__container
    .notFound__head 404
    .notFound__content
      .notFound__title Упс, что-то пошло не так!
      .notFound__action
        a.btn.btn--outline-white(href='#')
          span Вернуться на главную