.notFound {
  $this: &;

  flex: 1;
  background: url(../../img/pattern_02.png) rgba(#000, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  @include block-padding();

  &__container {
    display: flex;
    min-height: 229px;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__head {
    font-weight: 800;
    font-size: 235.2px;
    line-height: 147px;
    align-self: center;
    @include mobile() {
      font-size: 128px;
      line-height: 175px;
    }
  }

  &__content {
    border-left: 1px solid $white;
    margin-left: 46px;
    padding-left: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile() {
      border-left: 0;
      border-top: 1px solid $white;
      margin: 24px 0 0 0;
      padding: 24px 0 0 0;
      align-items: center;
    }
  }

  &__title {
    @include display-medium();
    @include mobile() {
      @include headline-medium();
    }
  }

  &__action {
    margin-top: 32px;
  }
}