.banner {
  $this: &;

  &__item {
    width: 50%;
  }

  &__container {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 16px;
    @include elevation-02();
    padding: 48px;
    --banner-background: var(--background, transparent);
    background: linear-gradient(90deg, #E6E6ED 35.74%, rgba(230, 230, 237, 0) 60.55%), var(--banner-background), #E6E6ED;
    background-size: cover;
    background-position: 50% 50%;

    @include mobile() {
      flex-direction: column;
      padding: 32px;
    }

    &--red {
      color: $white;
      background: radial-gradient(43.9% 208.74% at 74.04% 50%, rgba(255, 0, 55, 0) 66.19%, #FF0037 100%), var(--banner-background), #FF0037;
      background-size: cover;
      background-position: 50% 50%;
    }

    &--black {
      background: var(--banner-background), #F8F8FA;
      color: $white;
      background-size: cover;
      background-position: 50% 50%;
    }

    &--sbg {
      background: radial-gradient(65.15% 109.05% at 65.15% 50%, rgba(3, 110, 120, 0) 38.64%, #036E78 100%), var(--banner-background);
      color: $white;
      background-size: cover;
      background-position: 50% 50%;
    }

    &--sm {
      padding: 32px;
      @include mobile() {
        padding: 24px;
      }

      #{$this}__title {
        @include headline-large();
        @include mobile() {
          @include headline-medium();
        }
      }
    }

  }

  &__main {
    flex: 1;
  }

  &__aside {
    align-self: flex-end;
    margin-left: 48px;
    @include mobile() {
      align-self: flex-start;
      margin: 24px 0 0 0;
    }
  }

  &__title {
    @include display-medium();
    @include mobile() {
      @include headline-medium();
    }
  }

  &__subtitle {
    margin-top: 16px;
    @include headline-extra-large();
    @include mobile() {
      margin-top: 8px;
      @include title-medium();
    }
  }

  &__text {
    margin-top: 16px;
    @include title-extra-large();
    @include mobile() {
      margin-top: 8px;
      @include title-large();
    }
  }

  &__action {
    margin-top: 32px;
  }
}