.banner(style='--banner-background: url(' + require('src/img/pattern_01.png') + ')')
  .banner__container
    .banner__main
      .banner__title Остались вопросы?
      .banner__subtitle  Задайте их нам
    .banner__aside
      button.btn Оставить заявку
