.banner.block(style='--background: url(' + require('src/img/pattern_01.png') + ')')
  .banner__container.banner__container--sm.banner__container--red
    .banner__main
      .banner__title Получи индивидуальное предложение
      .banner__action: button.btn.btn--outline-white Пройти опрос

