.banner.block(style='--background: url(' + require('src/img/pattern_01.png') + ')')
  .block__items
    .block__item.banner__item
      .banner__container.banner__container--sm
        .banner__main
          .banner__title Получи индивидуальное предложение
          .banner__action: button.btn Заполнить
    .block__item.banner__item
      .banner__container.banner__container--sm.banner__container--black
        .banner__main
          .banner__title Получи индивидуальное предложение
          .banner__action: button.btn Пройти опрос

