.banner {
  $this: &;

  @include block-margin();

  &__container {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 16px;
    @include elevation-01();
    padding: 48px;
    background: $neutral400;
    background: linear-gradient(90deg, #E6E6ED 35.74%, rgba(230, 230, 237, 0) 60.55%),
    var(--banner-background),
    #E6E6ED;

    @include mobile() {
      flex-direction: column;
      padding: 32px;
    }
  }

  &__main {
    flex: 1;
  }

  &__aside {
    align-self: flex-end;
    margin-left: 48px;
    @include mobile() {
      align-self: flex-start;
      margin: 24px 0 0 0;
    }
  }

  &__title {
    @include display-medium();
    @include mobile() {
      @include headline-medium();
    }
  }

  &__subtitle {
    margin-top: 16px;
    @include headline-extra-large();
    @include mobile() {
      margin-top: 8px;
      @include title-medium();
    }
  }
}