.banner.block(style='--background: url(' + require('src/img/pattern_01.png') + ')')
  .banner__container.banner__container--red
    .banner__main
      .banner__title Нет резюме?
      .banner__text Создай прямо сейчас
      .banner__action: button.btn.btn--outline-white Заполнить
