.clients {
  $this: &;

  &__slider {
    margin-top: 24px;
    @include full-width();
    @include mobile() {
      margin-top: 12px;
    }
  }

  &__slides {
    transition-timing-function: linear;
    animation: scroll 40s linear infinite;
  }

  &__row {
    display: flex;
  }

  &__slide {
    padding: 0 12px;
    @include mobile() {
      padding: 0 6px;
    }

    img {
      display: block;
      @include mobile() {
        max-height: 50px;
        width: auto;
      }
    }
  }

  &__action {
    display: none;
    @include mobile() {
      display: block;
      margin-top: 32px;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%)
    }
  }
}