.footer
  .c
    .footer__top
      .footer__menu
        ul
          li: a(href='#') О компании
          li: a(href='#') Организациям
          li: a(href='#') Соискателям
          li: a(href='#') Вакансии
          li: a(href='#') Цифровая платформа SBG
          li: a(href='#') Новости
      .footer__aside
        .footer__contacts
          a(href="tel:+7 (967) 445-01-31") +7 (967) 445-01-31
          a(href="mailto:office@bc-center.ru") office@bc-center.ru
    .footer__bottom
      .footer__logo: img(src=require('src/img/logo_full.svg'))
      .footer__aside
        .footer__legals
          ul
            li: a(href='#') Пользовательское соглашение
            li: a(href='#') Политика конфиденциальности
        .footer__copyright © 2011—2023 «Бизнес-консалт» Все права защищены.

