.ceo.block
  .ceo__container
    .ceo__img: img(src=require('src/img/ceo.jpg'))
    .ceo__content
      .ceo__title ПОЛИНА КОННОВА
      .ceo__position CEO Агентство HR-технологий «Бизнес-консалт»
      .ceo__description
        | Бизнес-тренер, психолог, спикер, коуч#[br]
        | Сертифицированный ассессор Hogan, DISC, DF, EQ#[br]
        | Московская школа менеджмента SKOLKOVO, Программа Executive MBA Президентская Программа подготовки управленческих кадров#[br]

      .ceo__numbers
        .ceo__row
          .ceo__number 6+
          .ceo__text федеральные награды в области HR
        .ceo__row
          .ceo__number 20+
          .ceo__text лет опыта стратегического HR-партнера для бизнеса
        .ceo__row
          .ceo__number 30+
          .ceo__text спикер бизнес-конференций, номинации «Лучший спикер»
        .ceo__row
          .ceo__number 100+
          .ceo__text тренинговые корпоративные и индивидуальные программы обучения
        .ceo__row
          .ceo__number 200+
          .ceo__text развивающие программы и форумы по управлению и лидерству

      .ceo__action
        button.btn.btn--outline
          span Подробнее
          +the_svg('arrow')