.news.block
  .news__date 01.01.2023
  h1.news__title Конференция "УПРАВЛЕНИЕ ПЕРСОНАЛОМ: практические подходы и инструменты"
  .news__image: img(src='https://placehold.jp/900x360.png')
  .news__content.content
    p Полина Коннова, Генеральный директор Агентства HR-технологий "Бизнес-консалт" стала спикером 2-ой ежегодной онлайн-конференции: "УПРАВЛЕНИЕ ПЕРСОНАЛОМ: практические подходы и инструменты", 2-3 февраля 2023 года в г. Москва, Мариотт Отель Гранд Отель.
    p Полина поделилась опытом:
    ul
      li Как с помощью сильного HR-бренда достигать целей бизнеса
      li Как создать сильный HR-бренд для повышения эффективности задач бизнес
      li Элементы HR-бренда, какие системы нужно построить?
      li HR-бренд, как конкурентное преимущество компании

    p Выступление Полины вызвало много вопросов, живую дискуссию и интерес аудитории.
    p Спикерами конференции выступили представители компаний - Lamoda, ЛАНИТ, АК Алроса, Ростелеком, ANCOR, Промсвязьбанк, Ситимобил, Гринатом, Ekonika.

  .news__gallery
    include ../gallery/gallery