.map
  .c
    .map__title О компании

    .map__image
      img(src=require('src/img/map.png'))
      .map__count
        .map__number 15+
        | регионов

    .map__items
      .map__item
        .map__head 15+ лет
        .map__text реализации комплексных HR-проектов
      .map__item
        .map__head 100+
        .map__text реализованных проектов
      .map__item
        .map__head 100+
        .map__text DIGITAL методик HR

